<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="cameraBtn()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h2 class="text-center appTitle">Edit Task</h2>

  <form (ngSubmit)="editTaskForm()">
    <ion-item *ngIf="task.photo">
      <ion-label position="stacked">Image</ion-label>
      <ion-img src="{{ task.photo }}"> </ion-img>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="editTask.title" name="title"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>
        Priority
      </ion-list-header>
      <ion-item>
        <ion-range
          min="1"
          max="5"
          step="1"
          snaps="true"
          color="secondary"
          pin="true"
          [(ngModel)]="editTask.priority"
          name="priority"
          ><ion-label slot="start">Very Low</ion-label>
          <ion-label slot="end">Very High</ion-label></ion-range
        >
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="stacked">Due Date</ion-label>
      <ion-datetime
        display-format="DD/MM/YYYY"
        picker-format="DD MMMM YYYY"
        [(ngModel)]="editTask.dueDate"
        name="dueDate"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea
        rows="4"
        cols="20"
        [(ngModel)]="editTask.description"
        name="description"
      ></ion-textarea>
    </ion-item>

    <ion-grid style="margin-top:3em">
      <ion-row justify-content: center>
        <ion-col size="6" class="text-center">
          <ion-button color="danger" (click)="dissmissModal()"
            >Cancel</ion-button
          >
        </ion-col>
        <ion-col size="6" class="text-center">
          <ion-button type="submit" color="primary">Edit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
